@import "meta";
@import "variables";
@import "normalize";
@import "buttons";
@import "links";

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  color: $main-color;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.625em; /*42px*/
  line-height: 1;
  letter-spacing: 1px;
}

h2 {
  font-size: 1.875em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

body {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 50px;
}

ul {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
}

.thick-hr {
  margin-top: 3rem;
  margin-bottom: 2rem;
  border-top: 8px solid #131313;
}
.site-heading {
  color: $dark-grey;
}
.company-logo {
  width: 100%;
  height: auto;
}
.jumbotron {
  min-height: 600px;
  margin-bottom: 0;
  background: rgba(0, 0, 0, 0);
}

.navbar {
  display: none;
  background: rgba(76, 76, 76, 0);
  text-transform: uppercase;
}

.navbar a {
  color: $main-color;
  &:visited {
    color: $main-color;
  }
  &:hover {
    color: $dark-grey;
  }
}

.mobile-navbar {
  z-index: 999;
  overflow: hidden;
  background-color: #131313;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.mobile-navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.menu-mobile .menu-item {
  margin-right: 20px;
}

.description {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 0.875em;
}

.link-area {
  color: $lightest-grey;
  background: $main-dark;
}

.about-content {
  font-size: 1.125em;
}

.about-sidebar {
  background: $light-grey;
  border: none;
}

// For Isotope portoflio page
.grid-item {
  float: left;
  width: 50%;
  padding: 0.5em;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

// PORTFOLIO OPTIONS
.portfolio-card {
  position: relative;
  overflow: hidden;
}

.grid-item {
  color: $lightest-grey;
  &:visited {
    color: $lightest-grey;
  }
  &:hover {
    color: $lightest-grey;
  }
}

.overlay-active {
  opacity: 0.9;
  top: 0;
}

.portfolio-thumb {
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease;
}

.enlarge-img {
  transform: scale(1.05);
}

.portfolio-overlay {
  //display none for mobile
  display: none;
  font-size: 0.875em;
  opacity: 0;
  background: $medium-dark-grey;
  position: absolute;
  top: 300px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  //flex box utilities
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 20px;
}
.overlay-detail-label {
  min-width: 80px;
  display: table-cell;
  font-weight: 900;
  border-right: 1px solid $lightest-grey;
}
.overlay-detail-name {
  display: table-cell;
  padding-left: 15px;
}
.overlay-link-label {
  //background: rgba(255, 255, 255, 0.16862745098039217);
  text-align: center;
  padding: 5px 10px;
  border-radius: 50px;
  color: #00ddde;
  font-weight: bold;
  display: inline;
}
.mobile-portfolio-overlay {
  font-size: 0.75em;
  text-align: center;
  background: rgba(31, 31, 31, 0.45);
  color: rgba(241, 241, 241, 0.45);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

//single page
.detail-container {
  display: table;
  table-layout: fixed;
}

.detail-label {
  min-width: 108px;
  display: table-cell;
  font-weight: 900;
}

.detail-name {
  display: table-cell;
}

.social-media {
  color: $lightest-grey;
  background: $medium-dark-grey;
}

footer {
  background: $dark-grey;
  color: #eaeaea;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.998em;
  }

  h2 {
    font-size: 2.827em;
  }

  h3 {
    font-size: 1.999em;
  }

  h4 {
    font-size: 1.414em;
  }
  body {
    margin-bottom: 0;
  }
  .mobile-navbar {
    display: none;
  }
  .navbar {
    display: block;
  }
  .about-sidebar {
    box-shadow: 3px 3px 10px 0px rgba(12, 12, 12, 0.55);
    background: $light-grey;
    //border: 5px dashed rgba(187, 187, 187, 0.3411764705882353);
  }
  .portfolio-overlay {
    display: flex;
  }
  .mobile-portfolio-overlay {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .jumbotron .container {
    padding-bottom: 100px;
  }
  .grid-item {
    float: left;
    width: 33.333333%;
  }
  .company-logo {
    max-width: 500px;
  }
}

//For the isotope buttons
@media screen and (max-width: 768px) {
  .isotope-buttons {
    width: 40%;
  }

}