$main-color: #07acb5;
//$main-color: #00a9a9;
//$main-color: #07b57a;
$main-dark: #006584;
$light-grey: #f5f5f5;
$lightest-grey: #f1f1f1;
$medium-grey: #353535;
$medium-dark-grey: #212121;
$dark-grey: #131313;